alibi-detect==0.9.1
black==22.3.0
copulas==0.6.0
flake8==4.0.1
isort==5.10.1
nb-black==1.0.7
nonconformist==2.1.0
notebook==6.4.6
numpy
opentsne==0.6.1
papermill==2.3.4
pre-commit==2.19.0
pyod==1.0.1
scikit-learn-extra==0.2.0
scikit_learn
scipy==1.7.1
suod==0.0.8
torch==1.10.0
torchvision==0.11.1
uq360==0.2
wandb==0.10.30
xlrd==2.0.1
